<div class="about">
  <h1 class="title">Оплата</h1>

  <div class="p">
    <p class="p-info">
      Здесь Вы сможете ознакомиться с политикой оплаты магазина и выбрать наиболее удобный для них способ оплаты заказа.
    </p>
  </div>

  <div class="info-list">
    <h3>Оплата банковской картой</h3>
    <p>
      Вы сможете оплатить покупку онлайн с помощью банковской карты (Visa, Mastercard, American Express и др.)
      или электронными платежными системами (PayPal, Яндекс.Деньги, WebMoney и т.д.).
      Для этого на сайте интернет-магазина должен быть предусмотрен соответствующий функционал,
      который позволяет совершить оплату безопасно и удобно.
    </p>
  </div>

  <div class="info-list">
    <h3>Оплата при получении.</h3>
    <p>
      Вы можете оплатить покупку наличными или банковской картой при получении заказа.
      Этот вариант оплаты особенно актуален для тех, кто не доверяет онлайн-оплатам или предпочитает оплачивать заказы при получении.
    </p>
  </div>

  <div class="info-list">
    <h3>Рассрочка или кредит.</h3>
    <p>
      Магазин ювелирных изделий ADORINE предоставляет нашим клиентам возможность купить товар в рассрочку
      или взять кредит для оплаты покупки. Это может быть особенно интересно для дорогостоящих изделий,
      которые клиенты могут не сразу оплатить полностью.
    </p>
  </div>

  <div class="info-list">
    <h3>Скидки и бонусы.</h3>
    <p>
      На странице "Оплата" могут быть указаны скидки и бонусы для наших преданных клиентов,
      которые Вы можете получить при оплате заказа определенным способом или при определенном размере заказа.
    </p>
  </div>

</div>
