<div class="about">
  <h1 class="title">О компании <strong>ADORINE</strong></h1>

  <div class="p">
    <p class="p-info">
      Adorine - это не просто магазин, это настоящий мир украшений,
      где каждая женщина найдет что-то особенное и уникальное для себя или для подарка своим близким.
      Мы тщательно подбираем коллекции, чтобы предложить нашим клиентам самые стильные и модные украшения
      от лучших мировых брендов.
    </p>
  </div>

  <div class="info-list">
    <h3>Доступые цены</h3>
    <p>
      Одной из главных особенностей Adorine является наша политика доступности цен.
      Мы предлагаем нашим клиентам адекватные и конкурентоспособные цены, чтобы каждый мог
      себе позволить красивые украшения без лишних затрат.
    </p>
  </div>

  <div class="info-list">
    <h3>Высокое качество</h3>
    <p>
      Кроме того, мы гарантируем высокое качество всех наших украшений.
      Мы работаем только с надежными поставщиками и проверяем каждый товар перед отправкой клиентам.
      Наша команда также всегда готова помочь вам с выбором украшений, ответить на вопросы и предложить наилучшее решение.
    </p>
  </div>

  <div class="info-list">
    <h3>Программа лояльности</h3>
    <p>
      Наконец, Adorine предлагает своим клиентам лояльную программу бонусов,
      которая позволяет получать дополнительные скидки и подарки за каждую покупку.
      Мы ценим наших клиентов и стремимся сделать покупку у нас максимально выгодной и приятной.
    </p>
  </div>

  <div class="info-list">
    <p>
      Все это делает Adorine идеальным местом для покупки украшений.
      Мы готовы предложить вам лучшее обслуживание и самые модные украшения по доступным ценам.
    </p>
  </div>

</div>
