<div class="about">
  <h1 class="title">Условия доставки <strong>ADORINE</strong></h1>

  <div class="p">
    <p class="p-info">
      Мы сотрудничаем с надежной курьерской службой, которая имеет богатый опыт в доставке украшений
      и других ценных товаров. Наши партнеры гарантируют быструю и безопасную доставку,
      а также при необходимости осуществляют обмен и возврат товаров.
    </p>
  </div>

  <div class="info-list">
    <h3>Процесс упаковки</h3>
    <p>
      Каждый наш заказ упаковывается в специальные коробки, которые защищают украшения от повреждений
      в процессе транспортировки. Мы также используем дополнительную защиту,
      такую как пузырчатую пленку и упаковочную ленту, чтобы гарантировать безопасность товара во время доставки.
    </p>
  </div>

  <div class="info-list">
    <h3>Виды доставки</h3>
    <p>
      Наша служба доставки предлагает несколько вариантов доставки, включая экспресс-доставку в течение 24 часов
      и бесплатную стандартную доставку на все заказы в пределах страны.
      Мы также осуществляем международную доставку по запросу клиента.
    </p>
  </div>

  <div class="info-list">
    <h3>Программа лояльности</h3>
    <p>
      Наконец, Adorine предлагает своим клиентам лояльную программу бонусов,
      которая позволяет получать дополнительные скидки и подарки за каждую покупку.
      Мы ценим наших клиентов и стремимся сделать покупку у нас максимально выгодной и приятной.
    </p>
  </div>

  <div class="info-list">
    <h3>Отслеживание курьера</h3>
    <p>
      Мы понимаем, что безопасность и надежность доставки - это крайне важно для наших клиентов.
      Поэтому мы прилагаем все усилия, чтобы обеспечить наивысший уровень сервиса и качества доставки.
      Мы также предоставляем отслеживание доставки, чтобы вы могли быть уверены в том, что ваш заказ прибудет вовремя и безопасно.
    </p>
  </div>

</div>
