<footer>
  <div class="footer-container">
    <div class="column">
      <a [routerLink]="['']"><h3>ADORINE</h3></a>
    </div>
    <div class="column">
      <h3>Information</h3>
      <ul>
        <li><a [routerLink]="['/about']">About</a></li>
      </ul>
    </div>
    <div class="column">
      <h3>Service</h3>
      <ul>
        <li><a [routerLink]="['/delivery']">Delivery</a></li>
        <li><a [routerLink]="['/payment']">Payment</a></li>
      </ul>
    </div>
    <div class="column">
      <h3>Help</h3>
      <ul>
        <li><a [routerLink]="['/carry']">Carrying</a></li>
      </ul>
    </div>
  </div>
</footer>
