.idea{
  max-width: 90%;
  overflow: hidden;
  margin-top: -75px;
  margin-left: 80px;
}

.title{
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 150px 0 0px 40px;
}

img{
  float: right;
  margin: 0px 0px 40px 40px;
  padding-right: 20px;
  border-radius: 50px;
  height: 310px;
}

.p-info{
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin: 20px 0px 40px 40px;
  text-align: justify;
}
