
h3{
  color: black;
}

.title{
  padding: 0px 10px 0px 10px;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: center;
}


.p-info{
  margin-left: 150px;
  margin-right: 150px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: justify;
}

.info-list{
  margin-left: 150px;
  margin-right: 150px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: justify;
}
